## Phase I Project Proposal
### Airline flight performance statistics

#### Jake Malis, DS 3000 Section 4, Spring 2025

### Introduction

### Data Collection

I plan on using [U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics' 2015 Flight Delays and Cancellations dataset from Kaggle](https://www.kaggle.com/datasets/usdot/flight-delays) which contains airline data, airport data, and detailed flight data from 2015. This will allow me to derive at a minimum which airlines are most delayed and most cancelled. This dataset can be imported from Kaggle using [Croissant](https://github.com/mlcommons/croissant) which makes it easy to import the data for use with Pandas DataFrames.

In [2]:
! pip install mlcroissant
import mlcroissant as mlc
import pandas as pd

# Fetch the Croissant JSON-LD
croissant_dataset = mlc.Dataset('https://www.kaggle.com/datasets/usdot/flight-delays/croissant/download')

# Check what record sets are in the dataset
record_sets = croissant_dataset.metadata.record_sets
print(record_sets)

Collecting mlcroissant
  Downloading mlcroissant-1.0.13-py2.py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.8/139.8 KB 4.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: requests in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from mlcroissant) (2.32.3)
Requirement already satisfied: pandas in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from mlcroissant) (2.2.3)
Collecting networkx
  Using cached networkx-3.4.2-py3-none-any.whl (1.7 MB)
Collecting rdflib
  Downloading rdflib-7.1.3-py3-none-any.whl (564 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 564.9/564.9 KB 4.1 MB/s eta 0:00:00a 0:00:01
Collecting jsonpath-rw
  Downloading jsonpath-rw-1.4.0.tar.gz (13 kB)
  Preparing metadata (setup.py) ... done
Collecting etils[epath]>=1.7.0
  Downloading etils-1.12.0-py3-none-any.whl (166 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 166.6/166.6 KB 4.4 MB/s eta 0:00:00
Collecting pandas-stubs
  Downloading pandas_stubs-2.2.3.241126-py3-none-any.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.3/158.3 KB 4.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from mlcroissant) (2.9.0.post0)
Collecting tqdm
  Using cached tqdm-4.67.1-py3-none-any.whl (78 kB)
Collecting absl-py
  Downloading absl_py-2.1.0-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.7/133.7 KB 4.7 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from etils[epath]>=1.7.0->mlcroissant) (4.12.2)
Collecting zipp
  Downloading zipp-3.21.0-py3-none-any.whl (9.6 kB)
Collecting fsspec
  Downloading fsspec-2025.2.0-py3-none-any.whl (184 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 184.5/184.5 KB 5.0 MB/s eta 0:00:00
Collecting importlib_resources
  Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 KB 4.7 MB/s eta 0:00:00
Requirement already satisfied: decorator in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from jsonpath-rw->mlcroissant) (5.1.1)
Requirement already satisfied: six in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from jsonpath-rw->mlcroissant) (1.17.0)
Requirement already satisfied: numpy>=1.22.4 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas->mlcroissant) (2.2.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas->mlcroissant) (2024.2)
Requirement already satisfied: pytz>=2020.1 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from pandas->mlcroissant) (2024.2)
Collecting types-pytz>=2022.1.1
  Downloading types_pytz-2025.1.0.20250204-py3-none-any.whl (10 kB)
Requirement already satisfied: pyparsing<4,>=2.1.0 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from rdflib->mlcroissant) (3.2.1)
Collecting isodate<1.0.0,>=0.7.2
  Downloading isodate-0.7.2-py3-none-any.whl (22 kB)
Requirement already satisfied: idna<4,>=2.5 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from requests->mlcroissant) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from requests->mlcroissant) (2024.12.14)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from requests->mlcroissant) (2.3.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages (from requests->mlcroissant) (3.4.1)
Using legacy 'setup.py install' for jsonpath-rw, since package 'wheel' is not installed.
Installing collected packages: ply, zipp, types-pytz, tqdm, networkx, jsonpath-rw, isodate, importlib_resources, fsspec, etils, absl-py, rdflib, pandas-stubs, mlcroissant
  Running setup.py install for jsonpath-rw ... done
Successfully installed absl-py-2.1.0 etils-1.12.0 fsspec-2025.2.0 importlib_resources-6.5.2 isodate-0.7.2 jsonpath-rw-1.4.0 mlcroissant-1.0.13 networkx-3.4.2 pandas-stubs-2.2.3.241126 ply-3.11 rdflib-7.1.3 tqdm-4.67.1 types-pytz-2025.1.0.20250204 zipp-3.21.0

WARNING:absl:WARNING: The JSON-LD `@context` is not standard. Refer to the official @context (e.g., from the example datasets in https://github.com/mlcommons/croissant/tree/main/datasets/1.0). The different keys are: {'rai', 'isLiveDataset', 'examples'}
WARNING:absl:Found the following 1 warning(s) during the validation:
  -  [Metadata(2015 Flight Delays and Cancellations)] Property "http://mlcommons.org/croissant/citeAs" is recommended, but does not exist.

[RecordSet(uuid="airlines.csv"), RecordSet(uuid="airports.csv"), RecordSet(uuid="flights.csv")]

In [125]:
airlines_df = pd.DataFrame(croissant_dataset.records(record_set=record_sets[0].uuid))
airlines_df.columns = airlines_df.columns.str.replace('airlines.csv/', '')

airlines_df.head()

  IATA_CODE                    AIRLINE
0     b'UA'   b'United Air Lines Inc.'
1     b'AA'  b'American Airlines Inc.'
2     b'US'         b'US Airways Inc.'
3     b'F9'  b'Frontier Airlines Inc.'
4     b'B6'         b'JetBlue Airways'

In [129]:
airports_df = pd.DataFrame(croissant_dataset.records(record_set=record_sets[1].uuid))
airports_df.columns = airports_df.columns.str.replace('airports.csv/','')
# airports_df.head()

In [104]:
from itertools import islice

flights_records = list(islice(croissant_dataset.records(record_set=record_sets[2].uuid), 1000))
flights_df = pd.DataFrame(flights_records)
flights_df.head()

/Users/boqiangliang/.pyenv/versions/3.10.4/lib/python3.10/site-packages/mlcroissant/_src/operation_graph/operations/read.py:97: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file)

,flights.csv/YEAR,flights.csv/MONTH,flights.csv/DAY,flights.csv/DAY_OF_WEEK,flights.csv/AIRLINE,flights.csv/FLIGHT_NUMBER,flights.csv/TAIL_NUMBER,flights.csv/ORIGIN_AIRPORT,flights.csv/DESTINATION_AIRPORT,flights.csv/SCHEDULED_DEPARTURE,...,flights.csv/ARRIVAL_TIME,flights.csv/ARRIVAL_DELAY,flights.csv/DIVERTED,flights.csv/CANCELLED,flights.csv/CANCELLATION_REASON,flights.csv/AIR_SYSTEM_DELAY,flights.csv/SECURITY_DELAY,flights.csv/AIRLINE_DELAY,flights.csv/LATE_AIRCRAFT_DELAY,flights.csv/WEATHER_DELAY
0,2015,1,1,4,b'AS',98,b'N407AS',b'ANC',b'SEA',5,...,408.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,b'AA',2336,b'N3KUAA',b'LAX',b'PBI',10,...,741.0,-9.0,0,0,None,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,b'US',840,b'N171US',b'SFO',b'CLT',20,...,811.0,5.0,0,0,None,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,b'AA',258,b'N3HYAA',b'LAX',b'MIA',20,...,756.0,-9.0,0,0,None,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,b'AS',135,b'N527AS',b'SEA',b'ANC',25,...,259.0,-21.0,0,0,None,NaN,NaN,NaN,NaN,NaN

In [105]:
column_names = flights_df.columns.tolist()
# print(column_names[0].split('/')[1])
print(len(flights_df.columns))
for i in range(len(flights_df.columns)):
    # column_names[i] = str(column_names[i]).split('/')
    column_names[i] = str(column_names[i]).replace('flights.csv/','')
#     # print(flights_df.columns[i])

31

In [106]:
column_names

['YEAR',
 'MONTH',
 'DAY',
 'DAY_OF_WEEK',
 'AIRLINE',
 'FLIGHT_NUMBER',
 'TAIL_NUMBER',
 'ORIGIN_AIRPORT',
 'DESTINATION_AIRPORT',
 'SCHEDULED_DEPARTURE',
 'DEPARTURE_TIME',
 'DEPARTURE_DELAY',
 'TAXI_OUT',
 'WHEELS_OFF',
 'SCHEDULED_TIME',
 'ELAPSED_TIME',
 'AIR_TIME',
 'DISTANCE',
 'WHEELS_ON',
 'TAXI_IN',
 'SCHEDULED_ARRIVAL',
 'ARRIVAL_TIME',
 'ARRIVAL_DELAY',
 'DIVERTED',
 'CANCELLED',
 'CANCELLATION_REASON',
 'AIR_SYSTEM_DELAY',
 'SECURITY_DELAY',
 'AIRLINE_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'WEATHER_DELAY']

In [113]:
# pd.DataFrame(column_names)
flights_df.columns = column_names

In [119]:
# flights_df.columns = pd.DataFrame(flights_df)
flights_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,b'AS',98,b'N407AS',b'ANC',b'SEA',5,...,408.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,b'AA',2336,b'N3KUAA',b'LAX',b'PBI',10,...,741.0,-9.0,0,0,None,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,b'US',840,b'N171US',b'SFO',b'CLT',20,...,811.0,5.0,0,0,None,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,b'AA',258,b'N3HYAA',b'LAX',b'MIA',20,...,756.0,-9.0,0,0,None,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,b'AS',135,b'N527AS',b'SEA',b'ANC',25,...,259.0,-21.0,0,0,None,NaN,NaN,NaN,NaN,NaN

### Data Usage and Remaining Issues

The above data set consists of 3 separate datasets (airline data, airport data, and flight data) which should all be merged together in order to provide the most detailed statistics when working with the data. Also, the format for date is currently weird, and I would combine the 3 date-related columns to produce one column with date as a datatype. I think first, I would combine the 3 datasets together so that it's easier to reference all the data in one place. Then I would determine the total flights for each airline. Then I can clean up data into one table with all of the flights where they were delayed and another with all flights that were cancelled. From that, I'd be able to produce percentages about which airlines' flights are most frequently delayed and cancelled. I could also try to determine trends about which airports have the highest & lowest percentage of delayed & cancelled flights. I hypothesize that airports in cold weather states are most likely to have delays and cancellations due to weather issues, especially during winter months. I can use PyTorch to generate a model trained on half the dataset, and use it to predict the other half of the dataset.

In [130]:
import geopandas as gpd
from shapely.geometry import Point, box
import contextily as ctx



# Filter for cancelled departures
cancelled = flights_df[flights_df['CANCELLED'] == 1]

cancelled.head()
agg = cancelled.groupby(['ORIGIN_AIRPORT', 'origin_airport/LATITUDE', 'origin_airport/LONGITUDE']) \
               .size() \
               .reset_index(name='cancellations')


# Group by airport to count cancellations
agg = cancelled.groupby(['ORIGIN_AIRPORT', 'LATITUDE', 'LONGITUDE']) \
               .size() \
               .reset_index(name='cancellations')

agg.head()

# Create geometry from the longitude and latitude columns
agg['geometry'] = agg.apply(lambda row: Point(row['origin_airport/LONGITUDE'], row['origin_airport/LATITUDE']), axis=1)

# Convert to a GeoDataFrame
gdf = gpd.GeoDataFrame(agg, geometry='geometry')
gdf.set_crs(epsg=4326, inplace=True)

# Reproject to Web Mercator for contextily
gdf_3857 = gdf.to_crs(epsg=3857)

# Define the bounding box for the continental US in EPSG:4326
# Approximate coordinates: (-125, 24) to (-66, 50)
bbox = box(-125, 24, -66, 50)
bbox_gdf = gpd.GeoDataFrame({'geometry': [bbox]}, crs='epsg:4326')
bbox_3857 = bbox_gdf.to_crs(epsg=3857)

# Get the bounds (xmin, ymin, xmax, ymax)
xmin, ymin, xmax, ymax = bbox_3857.total_bounds

# Plot and add basemap with extent to focus on the continental US
fig, ax = plt.subplots(figsize=(12, 8))
gdf_3857.plot(ax=ax, markersize=gdf_3857['cancellations']*2, color='red', alpha=0.6, legend=True)
ctx.add_basemap(ax, source=ctx.providers.OpenStreetMap.Mapnik)
ax.set_xlim(xmin, xmax)
ax.set_ylim(ymin, ymax)
ax.set_title("Cancellation Counts at Departure Airports within Continental US")
plt.show()

KeyError: 'origin_airport/LATITUDE'

In [ ]:
# Compute cancellation ratio per airline and create a bar chart
agg_flights = flights_df.groupby('AIRLINE').agg(cancel_ratio=('CANCELLED', 'mean')).reset_index()

plt.figure(figsize=(12, 8))
sns.barplot(data=agg_flights, x='AIRLINE', y='cancel_ratio')
plt.xlabel("Airline")
plt.ylabel("Cancellation Ratio")
plt.title("Cancellation Ratio by Airline")
plt.ylim(0, agg_flights['cancel_ratio'].max() * 1.1)
plt.show()

In [118]:
text_file = open("hashwouser.txt", "r")
text_file_list = []
lines = text_file.readlines()
for line in lines:
    print(line)
text_file.close()

acetylesorc:$1$EV$7NtX2u0AyjUh1ZXl3pcPH0

nightnippos:$1$rO$synvETLo7UWbM/P7/eTm01

tacticreport:$1$E0$2UecDammfVOSb6nTEwylB0

idealworman:$1$JP$0fj1TbcW6pAlvxStyREC1.

apenguinlead:$1$RG$1QVQrq2tsvRHWqzi/UGTm0

namefreezing:$1$wN$MQzoc5m4FAM7oys3w44ee.

tenashlin:$1$xK$h4DOyTKVnCsfVHiywuNHl/

shortoeve:$1$Yf$fhFRuhJ/5izRTtoDPh0Xo/

softovok:$1$Fd$bGXpeaNCl72pWas3hyNDo.

aimetrans:$1$Fl$vt2dvdlE19xpsNrhCQvIH/

guitaristjaden:$1$Ca$9krJjtMy1dngfkUyBIYxg1

culubson:$1$sk$.4EDxTAhGUAnHZZCeI3Kv1

chiricsen:$1$VU$.IyfRU7Tn92rAM4Bo32gF0

lynnaps:$1$be$iZyq1IwojgPcnDVuMyQD80

platinumvintage:$1$Ge$sCRFJKik3avFJp2RyJ2g7.

omahardee:$1$CP$0JgEl7.9HCvuc.4kFr9Ka/

fortuneud:$1$Vz$7Uiygc3ibUNLfYGFdMIDi1

rightsubl:$1$nd$Ac4Zg/IrfoMI825OsGoMX/

nailitro:$1$wN$wYxVm/SorSRf384kqn6e2/

babestahinlove:$1$ij$OrdLxOip0udGlVT6Tj7Id/

2hoteditor:$1$mB$3Je3Y4ny44Vou63.IdS9h.

dunawitec:$1$jN$A8Ndd7Ru9Yb3jMHge5wTc.

acaderli:$1$3g$Eb8ljliePH/tsD1kQQklg.

prothenorn:$1$li$JBdqMuoJxCpcpI1pe0tfy0

borguitsba:$1$zt$G8kTzDx6ZIcpto6QSDpCw1

thetinny:$1$aS$KmPSciEJbz8oTZ8N8MClr0

epicgnome:$1$4H$Lc0PPBZ6VFKZ7Y.JXkIWI.

markatoint:$1$Xq$snFHQL.tLrEQ9.oJ7Ireq/

streplon:$1$CC$FpUX9dZdrcqrCpGDz74R61

bigghappy:$1$55$3huy0MFjwiDIC57eyTSgg/

tiltheb:$1$ci$EYWLKaFL9c2P.4z4xvsam1

ravagergyps:$1$IY$uqmlk.utMUNFACVdUR.DK.

twitterni:$1$3S$9yoJqdhKNuRlcDpl6jkFA/

theborgitas:$1$3v$qzY5xGTKNAC4YAWxo4esx.

interfail:$1$4y$f2ywUpH30pogVfH5CKidj.

crayonfour:$1$0J$mDFeDSDyOM9ALT0iMzMU9.

technof:$1$S1$SASo7GPwHBoIH1sSrJmvU.

daysisende:$1$0r$Y0sLj6zKEXhsZW3h/9PJ.0

royalcortli:$1$WL$1jGFq9NRBs1TKcKcOdZNI0

aquaverit:$1$2k$fMeiE6qz70a6PTB3agW0o0

tasticsupreme:$1$sG$W4q4wP1Sfa4LF1ayagW2/0

aralmoni:$1$V5$1ekXsW/UjkD.hrFHaewiS1

onev2:$1$OF$k/RqClsCN16cmDbOpFUbO.

bobhyper:$1$1w$bHGxqOm86jOmPGIvtJGO/0

liciolog:$1$5U$1avgi/NF4UjqaKSHMuNz2.

baignolje:$1$Rl$94kq89f2mTErvOlDBagqq0

runestnam:$1$px$wz.2J3ZE18adYGVQS6vEX/

carotiended:$1$Ge$h5SpR7HaY9ZQF1qokcEhI/

prodott:$1$wV$aW04VAr47N8npzWU.LEJ70

sparkbear:$1$K0$IQrW05qYm1V2W0FNSTDWR.