## Phase I Project Proposal
### Airline flight performance statistics

#### Jake Malis, DS 3000 Section 4, Spring 2025

### Introduction

### Data Collection

I plan on using [U.S. Department of Transportation's (DOT) Bureau of Transportation Statistics' 2015 Flight Delays and Cancellations dataset from Kaggle](https://www.kaggle.com/datasets/usdot/flight-delays) which contains airline data, airport data, and detailed flight data from 2015. This will allow me to derive at a minimum which airlines are most delayed and most cancelled. This dataset can be imported from Kaggle using [Croissant](https://github.com/mlcommons/croissant) which makes it easy to import the data for use with Pandas DataFrames.

In [1]:
import mlcroissant as mlc
import pandas as pd

# Fetch the Croissant JSON-LD
croissant_dataset = mlc.Dataset('https://www.kaggle.com/datasets/usdot/flight-delays/croissant/download')

# Check what record sets are in the dataset
record_sets = croissant_dataset.metadata.record_sets
print(record_sets)

WARNING:absl:WARNING: The JSON-LD `@context` is not standard. Refer to the official @context (e.g., from the example datasets in https://github.com/mlcommons/croissant/tree/main/datasets/1.0). The different keys are: {'examples', 'rai', 'isLiveDataset'}
WARNING:absl:Found the following 1 warning(s) during the validation:
  -  [Metadata(2015 Flight Delays and Cancellations)] Property "http://mlcommons.org/croissant/citeAs" is recommended, but does not exist.

[RecordSet(uuid="airlines.csv"), RecordSet(uuid="airports.csv"), RecordSet(uuid="flights.csv")]

In [2]:
airlines_df = pd.DataFrame(croissant_dataset.records(record_set=record_sets[0].uuid))
airlines_df.head()

  airlines.csv/IATA_CODE       airlines.csv/AIRLINE
0                  b'UA'   b'United Air Lines Inc.'
1                  b'AA'  b'American Airlines Inc.'
2                  b'US'         b'US Airways Inc.'
3                  b'F9'  b'Frontier Airlines Inc.'
4                  b'B6'         b'JetBlue Airways'

In [3]:
airports_df = pd.DataFrame(croissant_dataset.records(record_set=record_sets[1].uuid))
airports_df.head()

,airports.csv/IATA_CODE,airports.csv/AIRPORT,airports.csv/CITY,airports.csv/STATE,airports.csv/COUNTRY,airports.csv/LATITUDE,airports.csv/LONGITUDE
0,b'ABE',b'Lehigh Valley International Airport',b'Allentown',b'PA',b'USA',b'40.65236',b'-75.4404'
1,b'ABI',b'Abilene Regional Airport',b'Abilene',b'TX',b'USA',b'32.41132',b'-99.6819'
2,b'ABQ',b'Albuquerque International Sunport',b'Albuquerque',b'NM',b'USA',b'35.04022',b'-106.60919'
3,b'ABR',b'Aberdeen Regional Airport',b'Aberdeen',b'SD',b'USA',b'45.44906',b'-98.42183'
4,b'ABY',b'Southwest Georgia Regional Airport',b'Albany',b'GA',b'USA',b'31.53552',b'-84.19447'

In [5]:
from itertools import islice

flights_records = list(islice(croissant_dataset.records(record_set=record_sets[2].uuid), 1000))
flights_df = pd.DataFrame(flights_records)
flights_df.head()

/Users/jakemalis/miniconda3/lib/python3.12/site-packages/mlcroissant/_src/operation_graph/operations/read.py:97: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(file)

,flights.csv/YEAR,flights.csv/MONTH,flights.csv/DAY,flights.csv/DAY_OF_WEEK,flights.csv/AIRLINE,flights.csv/FLIGHT_NUMBER,flights.csv/TAIL_NUMBER,flights.csv/ORIGIN_AIRPORT,flights.csv/DESTINATION_AIRPORT,flights.csv/SCHEDULED_DEPARTURE,...,flights.csv/ARRIVAL_TIME,flights.csv/ARRIVAL_DELAY,flights.csv/DIVERTED,flights.csv/CANCELLED,flights.csv/CANCELLATION_REASON,flights.csv/AIR_SYSTEM_DELAY,flights.csv/SECURITY_DELAY,flights.csv/AIRLINE_DELAY,flights.csv/LATE_AIRCRAFT_DELAY,flights.csv/WEATHER_DELAY
0,2015,1,1,4,b'AS',98,b'N407AS',b'ANC',b'SEA',5,...,408.0,-22.0,0,0,None,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,b'AA',2336,b'N3KUAA',b'LAX',b'PBI',10,...,741.0,-9.0,0,0,None,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,b'US',840,b'N171US',b'SFO',b'CLT',20,...,811.0,5.0,0,0,None,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,b'AA',258,b'N3HYAA',b'LAX',b'MIA',20,...,756.0,-9.0,0,0,None,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,b'AS',135,b'N527AS',b'SEA',b'ANC',25,...,259.0,-21.0,0,0,None,NaN,NaN,NaN,NaN,NaN

### Data Usage and Remaining Issues

The above data set consists of 3 separate datasets (airline data, airport data, and flight data) which should all be merged together in order to provide the most detailed statistics when working with the data. Also, the format for date is currently weird, and I would combine the 3 date-related columns to produce one column with date as a datatype. I think first, I would combine the 3 datasets together so that it's easier to reference all the data in one place. Then I would determine the total flights for each airline. Then I can clean up data into one table with all of the flights where they were delayed and another with all flights that were cancelled. From that, I'd be able to produce percentages about which airlines' flights are most frequently delayed and cancelled. I could also try to determine trends about which airports have the highest & lowest percentage of delayed & cancelled flights. I hypothesize that airports in cold weather states are most likely to have delays and cancellations due to weather issues, especially during winter months. I can use PyTorch to generate a model trained on half the dataset, and use it to predict the other half of the dataset.